importFrom(fda, create.bspline.basis, fdPar, smooth.basis, pca.fd, fd, inprod)
importFrom(quadrupen, elastic.net)
importFrom(pheatmap, pheatmap)
importFrom(RColorBrewer, brewer.pal)
importFrom(MASS, ginv)
importFrom(akima, interpp)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "hist")
importFrom("stats", "cor", "dnorm", "p.adjust", "pchisq", "pt", "splinefun")

exportPattern(FUNNEL.GSEA, weightPerGene, plotWeight, equiv.regression, wMWUTest)
